body {
    background-color: #808080
}

.login {
    width: 780px;
    margin: 50px auto;
}

.left, .right {
    width: 390px;
    height: 580px;
    padding: 40px;
    float: left;
    position: relative;
}

.login .left {
    background-color: #303030
}

.login .right {
    background-color: #FFFF;
}

.login .right .list-inline {
    font-size: 10px;
}

.left .text-center {
    color: #B3AFAB;
    font-size: 15px;
}

.left .text-center a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: underline;
}

.left .text-center.bottom {
    font-size: 11px;
}

.login-or-signup {
    font-size: 20px;
}

.login-or-signup span {
    font-size: 10px;
    margin: 0 20px 0 20px;
}

.login-or-signup a {
    color: #000000;
}

.login-or-signup .signup {
    color: #766E46;
}

form .bottom-panel span {
    float: right;
    margin-top: 15px;
}

.mobile {
    position: absolute;
    bottom: 15px;
    right: 15px;
}